@font-face {
  font-family: 'TTTtangsbudaejjigaeB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
:root{
  font-size: 62.5%;
  --color-main: #FF884B;
  --color-bg: #F1EFEF;
  --color-bg2: #FFD384;
}
*{
  color: var(--color-main);
  box-sizing: border-box;
  font-family: 'TTTtangsbudaejjigaeB';
  margin: 0;
  padding: 0;
  list-style: none;
  /* border: 1px solid black; */
}
a{
  text-decoration: none;
}
body{
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
main{
  display: flex;
  flex-direction: column;
  width: 144rem;
}

/* 헤더 */
.header{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 15rem;
  transition: 1s;
}
.head-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 144rem;
  height: 15rem;
  position: relative;
}

nav{
  width: 80rem;
}
.menu{
  font-size: 2.5rem;
}
.dropdown{
  position: relative;
  width: 20rem;
  text-align: center;
}
.dropdown>ul{
  position: absolute;
  width: 100%;
  top: 10rem;
}
.dropdown>ul>li{
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.dropdown-item:hover{
  color: chocolate;
}
nav>ul{
  display: flex;
  justify-content: space-between;
}
.title{
  font-size: 5rem;
}
.dpnone{
  opacity: 1 !important;
}
.li-container{
  opacity: 0;
  transition: 1s;
}

/* 메인 화면 */
.main-container{
  background-color: var(--color-bg2);
  min-height: 75rem;
  z-index: 99;
  border-radius: 2rem;
  padding-bottom: 3rem;
}

#requestName{
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  margin-top: 6rem;
}
#requestName > div{
  padding-top: 18px;
  width: 10rem;
}
#requestName > input{
  width: 60%;
  font-size: 2rem;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

#requestFile{
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
}
#requestFile > div{
  padding-top: 15px;
  width: 10rem;
}
#requestFile > textarea{
  width: 60%;
  height: 10rem;
  font-size: 2rem;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

#requestContent{
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
}
#requestContent > div{
  padding-top: 15px;
  width: 10rem;
}
#requestContent > textarea{
  width: 60%;
  height: 40rem;
  font-size: 1.5rem;
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
}
