div{
   /* border: 1px solid black; */
}
.container{
   width: 180px;
   height: 240px;
}
.row{
   display: flex;
   width: 100%;
   
}
.col{
   width: 58px;
   height: 60px;
   font-size: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   user-select: none;
   cursor: pointer;
}

.col:hover{
   background-color: skyblue;
}

.col:active{
   background-color: greenyellow;
}

#ckick{
   display: flex;
}


