*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body{
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
   background-image: url( "../images/lostimages.jpg" );
   background-repeat: no-repeat;
   background-size: 100%;

}

main{
   width: 1840px;
   flex-grow: 1;
   min-height: 500px;
}
/* --------------------------- header ----------------------------------- */
header{
   height: 80px;
   display: flex;
}
header > section:nth-of-type(1) {width: 10%;}
header > section:nth-of-type(2) {width: 70%;}
header > section:nth-of-type(3) {width: 20%;}

/* ---- 홈 로고 부분 ---- */
header > section:first-of-type{
   display: flex;
   justify-content: center;
   align-items: center;
}
#home-logo{
   width: 70px;
   height: auto;
}

/* ---- 하이퍼링크 모아둔곳 ---- */
nav {
   height: 100%;
   position: sticky;
   top: 0;
   z-index: 1000;

}
nav > ul {
   display: flex;
   list-style: none;
   height: 100%;
}
nav li{
   flex:  0      1   130px;
}

nav a{
   text-decoration: none;
   color: white;
   font-size: 20px;
   font-weight: bold;
   padding: 20% 0;
   display: block;
   text-align: center;

   font-family: 'HS-Regular';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}


/* 로그인 링크창 */
header > section:nth-of-type(3){
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(../images/Purpleimage.jpg);
}
#log{
   text-decoration: none;
   color: white;
   font-size: 25px;
   font-weight: bold;
   padding: 0 0;
   text-align: center;

}

.container{/* 크기 지정, 영역분할을 편하게 하기 위한 기본 설정 */
   box-sizing: border-box;
   margin-left: 10%;
   padding: 0;
   width: 1480px;
   height: 1000px;
}

.row-1{
   height: 30%;
   display: flex;
   justify-content: center;
}
.row-2{
   height: 5%;
   margin-top: 1%;

}
.di-1 {
   width: 40%;
   height: 100%;
   float: left;
   font-size: 30px;
   color: blueviolet;
   margin-left: 3%;
   font-weight: bold;
   font-family: "KIMM_Bold";
}
.di-2 {
   width: 48%;
   height: 100%;
   float: right;
   font-size: 30px;
   color: red;
   font-weight: bold;
   font-family: "KIMM_Bold";
}
.row-3{
   height: 65%;
}

.col-1 {
   width: 50%;
   height: 100%;
   float: left;
}

.loo-1 {
   width: 100%;
   height: 70%;
}
.loo-2 {
   width: 100%;
   height: 30%;
}

.search-area{
   width: 100%;
   display: flex;
   font-size: 30px;
   font-weight: bold;
   color: white;
   font-family: 'ONE-Mobile-POP';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   margin: 20px;
}
#ser {
   font-size: 22px;
}

.col-2 {
   width: 50%;
   height: 100%;
   float: right;
}
.re {
   height: 33%;
   width: 33%;
   float: left;
}

footer{
   width: 100%;
   height: 200px;
   background-color: #17203dbb;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column; 
   
}  


footer > p{
   font-weight: bold; 
   font-family: "궁서체";
}

footer > article > *{
   font-size: 14px 
}

footer a {
   color: black;
   text-decoration: none;
}

footer span{
   padding: 0 10px;
}

#p1 {
   font-size: 11px;
   margin: 5px
}









































