.warning{
   white-space: pre-wrap;
   border: 2px solid red;
   font-weight: bold;
}

#test3{
   width: 200px;
   height: 200px;
   border: 1px solid black;
   background-color: aquamarine;
   cursor: pointer; /* 갔다대면 마우스포인터로 바뀜 */
   user-select: none; /* 블록 불가 */
   transition-duration: 0.3s; /* 나타나는 속도 */
}

#box4{
   width: 150px;
   height: 150px;
   border: 1px solid black;
   transition-duration: 0.5s;
}

