<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>

   <link rel="stylesheet" href="/css/admin/admin.css">
</head>
<body>
   <h3 th:text="|${param.inputEmail} 회원 정보|">조회한 이메일</h3>

   <table border="1" th:object="${searchMember}">
      <tr>
         <td>회원 번호</td>
         <td th:text="*{memberNo}"></td>
      </tr>
      <tr>
         <td>이메일</td>
         <td th:text="*{memberEmail}"></td>
      </tr>
      <tr>
         <td>전화번호</td>
         <td th:text="*{memberTel}"></td>
      </tr>
      <tr>
         <td>주소</td>
         <!-- Elvis 연산자 -->
         <!-- memberAddress가 있으면 memberAddress -->
         <!-- memberAddress가 없으면 '미입력' -->
         <td th:text="*{memberAddress} ?: '미입력'"></td>
      </tr>
      <tr>
         <td>가입일</td>
         <td th:text="*{enrollDate}"></td>
      </tr>
      <tr>
         <td>권한</td>
         
         <th:block th:switch="*{authority}">
            <td th:case="1">일반 사용자</td>
            <td th:case="2">관리자</td>
         </th:block>
      </tr>
      <tr>
         <td>탈퇴여부</td>
         <td th:text="*{memberDelFl}"></td>
      </tr>
   </table>

   <button onclick="location.href='main'">돌아가기</button>
</body>
</html>